@import "tailwindcss";

@import "@fontsource/inter";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #f5f5f5;
  --color-card: #e0e0e0;
  --color-laranja: #ff771b;

  --font-mono: var(--font-geist-mono);
  --font-sans: "Outfit", ui-sans-serif, system-ui;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

