@import "tailwindcss";
@import "@fontsource/inter";


:root {
  --color-cinza: #e0e0e0;    
  --color-laranja: #ff6700;  
  --color-card: #e0e0e0;
  --color-laranja2: #d85f00;
  --color-balck: #131313;

  --font-mono: var(--font-geist-mono);
  --font-sans: "Outfit", ui-sans-serif, system-ui;
}

.dark {
  --color-cinza: #333333;  
  --color-laranja: #ffa500; 
  --color-card: #282828;
  --color-balck: #ffffff;
}

@theme inline {
  --color-cinza: var(--color-cinza);
  --color-laranja: var(--color-laranja);
  --color-card: var(--color-card);
  --color-laranja2: var(--color-laranja2);
  --color-balck: var(--color-balck);
  
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

