@import "tailwindcss";
@import "@fontsource/inter";


:root {
  --color-cinza: #e0e0e0;    
  --color-laranja: #FF9933;  
  --color-back: #F6F3E4;
  --color-text: #000000;


  --color-card: #e0e0e0;
  --color-laranja2: #d85f00;
  --color-balck: #131313;
  --color-themeBut: #6f5d9e;

  --font-mono: var(--font-geist-mono);
  --font-sans: "Outfit", ui-sans-serif, system-ui;
}

.dark {
  --color-cinza: #1E1E1E;  
  --color-laranja: #FF9933; 
  --color-back: #171918;
  --color-text: #A0A0A0;

  --color-card: #282828;
  --color-balck: #ffffff;
  --color-themeBut: #ffa500;
}

@theme inline {
  --color-cinza: var(--color-cinza);
  --color-laranja: var(--color-laranja);
  --color-back: var(--color-back);
  --color-text: var(--color-text);


  --color-card: var(--color-card);
  --color-laranja2: var(--color-laranja2);
  --color-balck: var(--color-balck);
  --color-themeBut: var(--color-themeBut);
  
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

